body {
   margin: auto;
 
   background-color:  yellow;
   font-family: Arial, sans-serif;
   font-size: 0.9em;
  
}

.heading {
  padding: 10px;
  background: red;
  border: 1px solid blue;
  font-size: 1.4em;
  font-style: italic;
  font-family: Verdana;
  text-align: center;
  height: 50px;
}


.menu {
    border-radius: 10px 10px 10px 10px;
    box-shadow:2px 2px 3px #333;
  padding: 20px;
  border: thin solid blue;
  position: absolute;
  left: 65px;
  height: 77%;
  width: 250px;
  text-decoration: none;
  background: lightgreen;
  top: 90px;
}

.content {
    
     border-radius: 0 10px 10px 0;
    box-shadow:2px 2px 3px #333;
    
 padding: 20px;
  border: thin solid blue;
  background: #FFFFFF;	
  position:absolute;
  left: 285px; 
  right: 65px;
  top: 90px;
  height: 77%;
}

#sidebar{
    position: absolute;
    right: 20px;
    top: 10px;       
}

#supertabela{
    
    border-collapse: collapse;
}

#supertabela td, tr, th{
    border: 1px solid;
    padding: 3px;
    text-align: center;
    
}

ul li{
    list-style: none;
    font-color: red;
    margin: 0 0 0 -110px;
   padding: 5px;
   text-align:center;
   
}

body a, body a:link,body a:visited{
text-decoration:none;
color: blue;
font-weight: bold;
}

body a:hover{
text-decoration:none;
color: blue;
font-weight: bold;
text-shadow:2px 2px 3px #333;
}

h1, h2{
    margin: 0;
    
}